    #home {
        display: block;
        margin-left: auto;
        margin-right: auto;
}
    #tekst{
        font-family: 'Comic Sans MS';
        margin-left: 20px;
    }

    #lijst{
        font-family: 'Times New Roman';
        margin-left: 20px;
    }